.animal-info h2 {
  margin-top: 0;
}

.carousel-container {
  width: 100%;
}

.carousel-container > div {
  margin: auto;
  max-width: 1000px;
}

#carousel {
  --scroll-hint: 75px;
}

.card-basic {
  width: 100%;
}

.animal-info-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.animal-info-container > * {
  flex: 1 1 500px;
}

.map {
  display: flex;
  justify-content: center;
}
