.animal-info h2 {
  margin-top: 0;
}

.carousel-container {
  max-width: 1000px;
  margin: auto;
  position: relative; /* WHY DOES THIS WORK?! 🤨 */
}

/* Main content card with info and map */
.card-basic {
  width: 100%;
}

.animal-info-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.animal-info-container > * {
  flex: 1 1 500px;
}
