.puppies{
    object-fit: cover;
    height: 600px;
    width: 100%;
    object-position: bottom;
  }
  
  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searching {
    display: flex;
    justify-content: center;
  }