.flex {
  display: flex;
  gap: 1.5rem;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px;
  gap: 1.5rem;
}

.goright {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }
}
