.form-column-container {
  display: flex;
  gap: 1.5rem;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px;
  gap: 1.5rem;
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
  gap: 0.5rem;
}

#loading {
  display: none;
  font-size: 1.5rem;
  color: var(--sl-color-primary-500);
  animation: rotating 2s linear infinite;
}

#loading.show {
  display: block;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }
}
