:root {
    --pale-blue: rgb(182, 218, 247);
    --pale-yellow:rgb(248, 242, 152);
    --pale-green: rgb(189, 240, 174);
    --dark-blue: rgb(56, 77, 145);
}

body {
  background-color: var(--pale-blue);
}

header {
  background-color: var(--pale-blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 4px solid;
  border-color: var(--dark-blue);
  margin-bottom: 10px
}

.container {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px;
}

.details {
  padding: 1.25rem;
}

sl-card {
  min-width
  max-width: 300px;
  margin: 50px;
  --border-color: var(--dark-blue);
  --border-width: 3px;
  
}

sl-card::part(body) {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-color: var(--dark-blue);
  border-width: 5px;
  color:var(--dark-blue);
}

button {
  height: 2.5rem;
  width: 97.09px;
  color: var(--dark-blue);
  border-color:var(--dark-blue);
  background-color: var(--pale-yellow);
  border-width: 3px;
  padding: 2px;
  font-size: 1rem;
  font-weight:bolder;
  border-radius: .25rem;
}

.card-overview small {
  color: var(--dark-blue);
}

.card-overview::part(base) [slot='footer'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:rgb(56, 77, 145);
}

  

 