:root {
    --pale-yellow:rgb(248, 226, 152);
    --pale-green: rgb(189, 240, 174);
    --dark-blue: rgb(56, 77, 145);
    --pale-blue: rgb(148, 202, 247);
    --copy-of-pale-yellow:rgb(248, 242, 152);
}

body {
  background-color: var(--pale-blue);
}

header {
  background-color: var(--pale-blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 4px solid;
  border-color: var(--dark-blue);
  margin-bottom: 0px;
}

#container {
  display:flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-evenly;
  margin: 20px;
}

sl-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin: 40px 20px 20px 20px;
  --border-color: var(--dark-blue);
  --border-width: 3px;
  
}

sl-card img {
  width: 394px;
  height: 400px;
  object-fit: cover;
  border-width: 3px;
  border-style: solid;
  border-color: var(--dark-blue);
}

p {
  display: inline-flex;
  height: 50px;
}

sl-card::part(body) {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-color: var(--dark-blue);
  border-width: 3px;
  color:var(--dark-blue);
  height: 230px;
}

button {
  display: block;
  margin: auto;
  width: 65%;
  color: var(--dark-blue);
  border-color:var(--dark-blue);
  background-color:rgb(248, 235, 115);
  border-width: 3px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 5px;
  height: 50px;
}

.card-overview small {
  display: inline-flex;
  
  color: var(--dark-blue);
  line-height: 40px;
}

.card-overview::part(base) [slot='footer'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:rgb(56, 77, 145);
}

  

 